.background-wrapper {
  background-image: url("./assets/spiritualBG.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 0;
}

.offset-top {
  margin-top: 0; /* used for pages like /author and /books */
}

.post-hero-background {
  margin-top: -4rem; /* used for homepage to start below Hero */
  position: relative;
  z-index: 1;
}
